*,
::before,
::after { 
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #b1bed1;
	font-size: 1rem; 
	margin: 0;
	padding: 0;
	font-family: "Raleway", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	margin: 0; 
    padding: 0; 
}

/* Variables de colores y Temas*/
:root {
	color-scheme: light dark;
	--bg-color: light-dark(white, #0d0b16);
	--primary-color: light-dark(#6366f1, #8f9aff);
	--primary-color-placeholder: light-dark(#9597ee, #696cfc);
	--primary-color-darker: light-dark(#4849ab, #9c9cc0);
	--text-color: light-dark(#262626, #ededed);
	--text-btn-color: light-dark(#ededed, #1c1c2b);
	--text-form-color: light-dark(#e9eaff, #373891);
	--text-form-color-dark: light-dark(#bbbce5, #0e10b2);
	--border-color: light-dark(#c9caca, #464646);
	--bg-color-items: light-dark(#9597ee, #373891);
	--bg-color-items-text: light-dark(#373891, #9597ee);
	--bg-color-items-text-dark: light-dark(#2f3072, #797cce);
	--error-color-text: light-dark(#f38989, #ad3636);
	--error-color-btn: light-dark(#b44444, #ad3636);
	--error-color-dark: light-dark(#bd2828, #df4c4c);
	--check-color: light-dark(#3a8b75, #138a4e);
	--check-color-dark: light-dark(#185847, #11a373);
	--content-width: 80rem;
}

